.jumbotron__image{
  height:inherit;

}
.jumbotron__content{
    margin-top:5vh;
      margin-bottom:5vh;
  height:inherit
}
.carousel{
  min-height:100vh;

}
.activity{
  background-color:rgba(205,165,60, 0.8);
  padding:1rem;
  border-left: 0.5rem solid #12202E;

}

.activity p{
  font-size: 0.8rem;
  word-wrap: break-word;
}
